{% extends "base.html" %}

{% block content %}

<h1>Page not found</h1>
<p class="text-muted">Error 404</p>
<p>The page <em id="bad-url"></em> does not exist.</p>
<br>

<p><a class="md-button" href="{{ config.site_url }}">Back to the main page <span class="twemoji"><svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24">
                <path d="M5 17.59 15.59 7H9V5h10v10h-2V8.41L6.41 19z"></path>
            </svg></span></a></p>

<script defer>
    const currentPath = window.location.pathname;
    document.getElementById('bad-url').textContent = currentPath;
</script>

{% endblock %}