{% extends "main.html" %}

{% block content %}

<style>
    #home {
        display: none;
    }

    .md-main__inner {
        max-width: 1000px !important;
        display: block !important;
    }

    h2 {
        text-align: center;
        padding-block: 20px;
        margin-top: 3.5rem !important;
        font-size: 1.5rem !important;
    }

    @media (max-width: 1219px) {
        .md-main__inner {
            display: flex !important;
        }
    }

    @keyframes floatUpBg {
        0% {
            transform: translate3d(var(--x-start), 0, 0);
        }

        100% {
            transform: translate3d(var(--x-end), -105vh, 0);
        }
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0 60px 0;
        gap: 40px;
    }

    .hero-text {
        flex: 1.2;
        text-align: center;
    }

    @media screen and (min-width: 60em) {
        .hero-container {
            flex-direction: row;
            gap: 60px;
            padding: 80px 0 100px 0;
        }

        .hero-text {
            flex: 1.2;
            text-align: left;
        }
    }

    .hero-title {
        font-size: 2.2rem !important;
        font-weight: 300 !important;
        line-height: 1.15 !important;
        letter-spacing: -0.02em !important;
        margin-bottom: 16px !important;
    }

    .hero-title > .gradient-text {
        font-size: 2.5rem !important;
        font-weight: 500 !important;
    }

    .hero-tagline {
        font-size: 1rem !important;
        line-height: 1.45 !important;
        color: color-mix(in srgb, var(--md-typeset-color, #666) 70%, transparent);
        opacity: 0.85;
        margin-bottom: 32px !important;
    }

    .hero-buttons {
        display: flex;
        gap: 16px;
        justify-content: center;
    }

    @media screen and (min-width: 60em) {
        .hero-buttons {
            justify-content: flex-start;
        }
    }

    .grid.cards span.twemoji,
    .grid.cards strong:first-of-type {
        font-size: 1em;
        vertical-align: middle;
        padding-bottom: 10px;
    }

    .grid.cards span.twemoji {
        color: var(--accent-purple);
        --md-icon-size: 2.5rem !important;
    }

    .md-button--primary {
        background: var(--md-typeset-color) !important;
        color: light-dark(var(--accent-yellow), var(--accent-orange)) !important;
    }

    .grid.cards > ul > li {
        background: var(--md-default-bg-color--lightest) !important;
        transform: scale(1);
        transition: all 0.2s ease-in-out !important;
    }

    .grid.cards > ul > li:hover {
        background: color-mix(in srgb, var(--md-default-bg-color--light) 70%, transparent) !important;
        border: 1px solid var(--accent-yellow) !important;
        transform: scale(1.025);
        z-index: 100;
    }

    .tabbed-labels.tabbed-labels--linked:has(>:nth-child(4):last-child) {
        justify-content: flex-start;
        box-shadow: none !important;
    }

    @media screen and (width > 450px) {
        .tabbed-labels.tabbed-labels--linked:has(>:nth-child(4):last-child) {
            justify-content: center;
        }
    }

    .md-main {
        background: linear-gradient(200deg, color-mix(in srgb, var(--accent-yellow), transparent 50%), transparent 30%),
        radial-gradient(circle at top right, color-mix(in srgb, var(--accent-purple), transparent 50%), transparent 40%),
        linear-gradient(150deg, var(--md-default-bg-color), transparent 10%),
        radial-gradient(circle at 30% 100%, color-mix(var(--accent-purple), transparent 70%), transparent 30%),
        radial-gradient(circle at 0% 100%, color-mix(var(--accent-red), transparent 40%), transparent 20%)
        !important;
    }
</style>

<div class="hero-container" markdown>
    <div class="hero-text">
        <span class="hero-title"><span class="gradient-text">Topaz</span><br>Programming Language</span>
        <p class="hero-tagline">Modern, fast and register-based interpreted programming language</p>
        <br>
        <div class="hero-buttons">
            <a href="./get-started/" class="md-button md-button--primary">Get started</a>
            <a href="./language-reference/introduction/" class="md-button">See documentation <span class="twemoji"><svg
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path
                    d="M5 17.59 15.59 7H9V5h10v10h-2V8.41L6.41 19z"></path></svg></span></a>
        </div>
    </div>

</div>

{{ page.content }}

<div class="grid cards" markdown>
    <ul>
        {% set posts_count = 0 %}
        {% set posts_max = 4 %}
        {% for p in nav["items"] if p["title"] == "Blog" %}
        {% for year in p["children"] | sort(attribute='title', reverse=True) %}
        {% for post in year["children"] | sort(attribute='meta.date', reverse=True) %}
        {% if posts_count < posts_max %}
        <li>
            <p style="text-align: left;">
                <strong style="font-size: 1.25em; font-weight: lighter">{{ post.title }}</strong><br>
                <em class="text-muted">{{ post.meta["date"] }}</em>
            </p>
            <p>{{ post.meta["description"] if post.meta["description"] else "" }}</p>
            <p style="text-align: right;">
                <a href="{{ post.url }}" class="md-button" style="margin-top: 10px; !important; fill: var(--accent-orange);">
                    <span>Read post</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="width: 16px;">
                        <path d="M5 17.59 15.59 7H9V5h10v10h-2V8.41L6.41 19z"></path>
                    </svg>
                </a>
            </p>
        </li>
        {% set posts_count = posts_count + 1 %}
        {% endif %}
        {% endfor %}
        {% endfor %}
        {% endfor %}
    </ul>
</div>

<br><br>

{% endblock %}