:root {
    --accent-yellow: rgb(252 184 56);
    --accent-orange: rgb(200 106 8);
    --accent-red: rgb(183 43 32);
    --accent-purple: rgb(107 51 163);
    --color-border-primary: light-dark(#c3c7cb, #51565d);
    --table-border: 1px solid var(--color-border-primary);
    --error-color: #f50057;
    --success-color: #00c853;
    --warning-color: #ff9100;
    --purple-color: #7c4dff;
    --gray-color: #9e9e9e;
}

* {
    scroll-behavior: smooth;
}

.md-header {
    border-bottom: 1px solid transparent;
    transition: all 0.15s ease-in-out;
}

.md-header.md-header--shadow {
    box-shadow: 0 0.4rem 1rem rgb(255 100 0 / 7%) !important;
    border-image: linear-gradient(to right, var(--accent-yellow) 70%, var(--accent-red) 80%, var(--accent-purple) 100%) 3;
    border-image-width: 0 0 2px 0;
    border-image-repeat: stretch;
}

.md-header__title > .md-header__ellipsis > .md-header__topic:first-child > .md-ellipsis {
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, var(--accent-yellow), var(--accent-orange), var(--accent-red), var(--accent-purple));
}

.compat-block {
    margin: 10px;
    overflow-x: auto;
    width: 100%;
    display: block;
    white-space: nowrap;
}

.compat-table {
    border-collapse: collapse;
    border-radius: 0.5rem;
    border-spacing: 0px;
    width: fit-content;
    overflow: hidden;
    border: 1px solid transparent;
    outline: var(--table-border);
    outline-offset: -2px;
}

.compat-table tbody {
    width: fit-content;
}

.compat-table > thead th:first-child {
    min-width: 300px;
    max-width: 400px;
    width: 350px;
}

.compat-table-system {
    align-items: center;
    vertical-align: middle;
    min-width: 60px;
    width: 60px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    position: sticky;
    top: 0;
}

.compat-table-system span {
    font-weight: 500;
    white-space: nowrap;
    padding-inline: 25px;
}

.compat-table td, .compat-table th {
    padding: 0.25rem;
    border: var(--table-border);
    transition: all 0.2s ease-in-out;
    vertical-align: middle;
}

.compat-table td:has(.compat-table-item) {
    background: color-mix(in srgb, currentColor 10%, transparent);
}

.compat-table td:has(.compat-table-item):hover {
    background: color-mix(in srgb, currentColor 20%, transparent);
}

.compat-table-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
}

.compat-table-legend {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.65rem;
}

.compat-table-legend-item {
    display: flex;
    align-items: center;
}

.compat-table-icon {
    width: 18px;
    height: 18px;
    margin-inline-start: 15px;
    margin-inline-end: 5px;
    margin-block: 5px;
    color: #555;
}

.compat-supported {
    color: var(--success-color);
}

.compat-partial-support {
    color: var(--warning-color);
}

.compat-no-support {
    color: var(--error-color);
}

.compat-deprecated {
    color: var(--gray-color);
}

.compat-experimental {
    color: var(--purple-color);
}